{{#datosPerfil}}
<div id="companyIdentityBanner" class="container-fluid d-flex">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9" style="padding: 30px 0px 0px 22px;">
                <div id="companyIdentity">
                    <p id="companyName">{{companyName}}</p>
                    <p id="companyDescription">{{mainRole}}</p>
                    <hr class="companySectionDivider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="companyInformationSection" class="col-3">
            <img class="logo" id="companyLogo" src="../img/logoMedtronic.png">
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Organización</p>
                <p class="infoParagraph">{{companyName}}</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Giro</p>
                <p class="infoParagraph">{{companyBusiness}}</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Actividad principal</p>
                <p class="infoParagraph">{{mainRole}}</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Número de empleados</p>
                <p class="infoParagraph">{{quantityEmployees}}</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Sitio Web</p>
                <p class="infoParagraph">{{webPage}}</p>
            </div>
            <hr class="infoSectionDivider">
        </div>
        <div class="col-9" style="padding: 0;">
            <div class="contentSection">
                <p class="contentTitle">Información</p>
                <p class="contentParagraph">{{description}}</p>
    {{/datosPerfil}}
                <p class="contentTitle">Vacantes</p>
                <hr class="contentDivider">
                {{#vacantData}}    
                <form id="form{{_id}}" action="../vacante/{{_id}}" method="get">
                <a class="hyperlinkSection" href="#" onclick="document.getElementById('form{{_id}}').submit()">
                    <div class="vacantElement flex">
                        <p class="vacantName">{{name}}</p>
                        <p class="vacantSalary">${{salary}}</p>
                        <p class="vacantDescription">{{details}}</p>
                        <p class="vacantDate">{{schedule}}</p>
                    </div>
                </a>
                </form>
                {{/vacantData}}
            </div>
        </div>
    </div>
</div>