{{#vacantVals}} 
<div id="companyIdentityBanner" class="container-fluid d-flex">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9" style="padding: 30px 0px 0px 22px;">
                <div id="companyIdentity">
                    <p id="companyName">{{name}}</p>
                    <p id="companyDescription">{{companyName}}</p>
                    <hr class="companySectionDivider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="companyInformationSection" class="col-3">
            <img class="logo" id="companyLogo" src="../img/logoMedtronic.png">
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Número de vacantes:</p>
                <p class="infoParagraph">{{quantityVacants}}</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Área</p>
                <p class="infoParagraph">{{area}}</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Salario</p>
                <p class="infoParagraph">{{salary}}</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Contrato</p>
                <p class="infoParagraph">{{typeContract}}</p>
            </div>
            <hr class="infoSectionDivider">
            <div class="infoSection">
                <p class="infoTitle">Horario</p>
                <p class="infoParagraph">{{schedule}}</p>
            </div>
            <hr class="infoSectionDivider">
        </div>
        <div class="col-9" style="padding: 0;">
            <div class="contentSection">
                <p class="contentTitle">Descripción y detalle de las actividades</p>
                <hr class="contentDivider">
                <p class="contentParagraph">{{details}}</p>
                <p class="contentTitle">Requisitos</p>
                <hr class="contentDivider">
                <p class="contentParagraph">{{requirements}}</p>
            </div>
 {{/vacantVals}}
            {{#if userLogged}}
            <div class="col-12 d-flex justify-content-end">
                <div class="col-3">
                     {{#vacantVals}}
    
                    <form action="/vacants/postulate/{{_id}}" method="POST">
                        <button class="buttonSolid btn btn-outline-success btn-wide">Solicitar puesto</button>
                    </form>
                     {{/vacantVals}}
    
                </div>
            </div>
            {{/if}}
        </div>

        <!--
        <input type="text" class="form-control" disable value="Nombre de la vacante: {{name}}" name="name">
        <input type="text" class="form-control" disable value="Nombre de empresa: {{companyName}}" name="companyName">
        <input type="text" class="form-control" disable value="Detalles: {{details}}" name="details">
        <input type="text" class="form-control" disable value="Requerimientos: {{requirements}}" name="requirements">
        <input type="text" class="form-control" disable value="Area: {{area}}" name="area">
        <input type="text" class="form-control" disable value="Tipo Contrato: {{typeContract}}" name="typeContract">
        <input type="text" class="form-control" disable value="Horario: {{schedule}}" name="schedule">
        <input type="text" class="form-control" disable value="Cantidad vacantes: {{quantityVacants}}" name="quantityVacants">
        <input type="text" class="form-control" disable value="Salario: {{salary}}" name="salary"><br>
        -->
    </div>
   
    {{#if postVals}}
        <h1> Postulados </h1>
        {{#postVals}}
            <input type="text" class="form-control" disable value="Nombre de la vacante: {{vacantName}}" name="name">
            <input type="text" class="form-control" disable value="Nombre de empresa: {{companyName}}" name="companyName">
            <input type="text" class="form-control" disable value="Nombre del estudiante: {{studentName}}" name="studentName">
            <input type="text" class="form-control" disable value="Correo del estudiante: {{studentEmail}}" name="studentEmail">
        {{/postVals}}
    {{/if}}
</div>
