<div id="companyIdentityBanner" class="container-fluid d-flex">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img class="logo" id="myCompanyLogo" src="../img/logoMedtronic.png">
            </div>
            <div class="col-10" style="padding: 30px 0px 0px 22px;">
                <div id="companyIdentity">
                    <p id="companyName">Medtronic México, S. de R.L. de C.V. (El Lago)</p>
                    <p id="companyDescription">Manufactura de productos médicos.</p>
                    <hr class="companySectionDivider">
                    <div class="row d-flex">
                        <div class="col-xxl-2 col-3 ms-auto">
                            <form action="/nuevaVacante">
                                <button class="buttonSolid btn btn-outline-success btn-wide">Nueva vacante</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10" style="padding: 0;">
            <div class="contentSection">   
                <p class="contentTitle">Mis vacantes</p>
                <hr class="contentDivider">
                {{#datos}}    
                    <div class="row">
                        <div class="col-11">
                            <div class="vacantElement flex">
                                <p class="vacantName">{{name}}</p>
                                <p class="vacantSalary">${{salary}}</p>
                                <p class="vacantDescription">{{details}}</p>
                                <p class="vacantDate">05 Nov Tijuana</p>
                            </div>
                        </div>
                        <div class="col-1 d-flex">
                            <div class="my-auto mx-auto">
                                <form action="vacante" method="get">
                                    <button class="buttonSolid btn btn-outline-success btn-wide buttonSmall">Ver más</button>
                                </form>
                                <button class="buttonSolid buttonWarning btn btn-outline-success btn-wide buttonSmall" type="button" onclick="" style="margin-top: 16px;">Eliminar</button>
                            </div>
                        </div>
                    </div>
                {{/datos}}
            </div>
        </div>
    </div>
</div>

{{#datos}}    
    <input type="text" class="form-control" disable value="Nombre de la vacante: {{name}}" name="name">
    <input type="text" class="form-control" disable value="Nombre de empresa: {{companyName}}" name="companyName">
    <input type="text" class="form-control" disable value="Detalles: {{details}}" name="details">
    <input type="text" class="form-control" disable value="Requerimientos: {{requirements}}" name="requirements">
    <input type="text" class="form-control" disable value="Area: {{area}}" name="area">
    <input type="text" class="form-control" disable value="Tipo Contrato: {{typeContract}}" name="typeContract">
    <input type="text" class="form-control" disable value="Horario: {{schedule}}" name="schedule">
    <input type="text" class="form-control" disable value="Cantidad vacantes: {{quantityVacants}}" name="quantityVacants">
    <input type="text" class="form-control" disable value="Salario: {{salary}}" name="salary"><br>
{{/datos}}
